* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background:#094060;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
  flex:1;
}
html, body {
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.at {
  display: flex;
  flex-direction: column;
  align-items: center; 
  letter-spacing: 20px;
}
.burguer {
  letter-spacing: 7px;
  font-size: 1.5rem;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/src/img/home/header.jpg') center/cover no-repeat;
  opacity: 0.3;
  z-index: 0;
}

.header {
  position: relative;
  z-index: 1;
  color: white;
}


/* Navegação */
.menu {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.menu li a {
  /* text-decoration: none; */
  color: white;
  font-size: 1.2rem;
  padding: 8px 16px;
  border-radius: 5px;
  /* transition: background 0.3s, color 0.3s; */
}

.menu li a:hover,
.menu li a.active {
  color: #ffd700;
  /* background-color: rgba(255, 255, 255, 0.1); */ 
}

  /*Footer*/

  .footer {
    background: #0b2438;
    padding: 3rem 1rem;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  
.mapa {
  grid-column: 1;
}

.info {
  color: #ffd700;
  grid-column: 2;
}

.redes {
  grid-column: 3;
}
.redes img {
  width: 30px;
  height: 30px;
  object-fit: contain; /* garante que a imagem mantenha proporção */
  filter: brightness(0) invert(1); /* deixa branco se for SVG escuro */
  transition: transform 0.2s;
}

.redes img:hover {
  transform: scale(1.1);
}

.redes a {
  text-decoration: none;
}